<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 100px;
            color: black
        }

        #login-form {
            float: left;
            width: 50%;
        }

        #cadastro-button {
            float: right;
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="login-form">
            <h1 class="mt-4" text-aligh = start >Login</h1>
            <form>
                <div class="form-group">
                    <label for="email">Email</label><br>
                    <input type="email" class="form-control" id="email" placeholder="Digite seu email"><br>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label><br>
                    <input type="password" class="form-control" id="senha" placeholder="Digite sua senha"><br>
                </div>
                <button type="submit" class="btn btn-dark">Entrar</button><br>
                <br><a href="\esqueci_senha" class="btn btn-dark">Esqueci minha senha</a>
            </form>
        </div>

        <div id="cadastro-button">
            <h2 class="mt-4" text-align = left>Ainda não tem cadastro?</h2><br>
            <a href="/pagina_cadastro" text-align = left class="btn btn-dark">Cadastrar</a>

        </div>
   
