<section class="container">
  <div id="login-form">
    <h1 class="mt-4" text-aligh="start">Login</h1>
    <form>
      <div class="form-group">
        <label for="email">Email</label><br />
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Digite seu email"
        />
      </div>
      <div class="form-group">
        <label for="senha">Senha</label><br />
        <input
          type="password"
          class="form-control"
          id="senha"
          placeholder="Digite sua senha"
        />
      </div>
      <button type="submit" class="btn btn-dark">Entrar</button>
      <br /><a href="\esqueci_senha" class="btn btn-dark"
        >Esqueci minha senha</a
      >
    </form>
  </div>

  <div id="cadastro-button">
    <h2 class="mt-4" text-align="left">Ainda não tem cadastro?</h2>
    <br />
    <a href="/pagina_cadastro" text-align="left" class="btn btn-dark"
      >Cadastrar</a
    >
  </div>
</section>
