.container {
    margin-top: 5rem;
    color: black
}

#login-form {
    float: left;
    width: 50%;
}

button{
    margin-bottom: 1rem;
}

#cadastro-button {
    float: right;
    width: 50%;
    text-align: center;
}

input{
    border-style: solid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}