/* You can add global styles to this file, and also import other style files */
header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #103560;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    /* background-image: url(https://produto-cheers.s3.amazonaws.com/media/product/2ae9c97e922022b7fafd1b2644b6d20c194a11e34978ccf142863311580d20fa.png);
    background-repeat: no-repeat;
    background-size: 100%;
  background-position: top; */

}

#logo {
    width: 100px;
    height: auto;
}

#search-bar {
    padding: 10px;
    margin: 10px;
    border: 2px solid #103560;
    border-radius: 5px;
    width: 200px;
}

/* #cart-button {
    background-color: #f3f708;
    color:black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

@media (max-width: 1024px){
    #search-bar{

        width: 100px;
    }
}

